<%= form_for(@participation) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="group">
    <%= f.label :is_attending, t("form.attending", :default => "Attending"), :class => :label %>
    <%= f.text_field :is_attending, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
