<!-- todo: not sure if we should put this piece of code here -->
<script>

// When the document is loaded...
$(document).ready(function()
{
    // Scroll the whole document
    $('#main').localScroll({
       target:'body'
    });

});
</script>
<div class="wat-cf">
  <% if@meeting.admin == ''%>
    <p>Warning! This meeting was not authenticated by our service.</p>
  <% end %>
  <% if @participation.is_attending == 1 %>
     <p>You are attending this meeting</p>
  <% elsif @participation.is_attending == -1 %>
     <p>You are not attending this meeting</p>
  <% end -%>
  <% if @participation.is_attending == 0 || @participation.is_attending == -1 %>
      <%= form_for @participation, :url => participation_path(@participation.token), :html => { :class => :form } do |f| -%>
        <input name="b" type="hidden" value="y" />
        <button class="button" type="submit">
            <%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("attending", :default => "Attending") %>
          </button>
      <% end -%>
  <% end %>
  <% if @participation.is_attending == 1 || @participation.is_attending == 0 %>
    <%= form_for @participation, :url => participation_path(@participation.token), :html => { :class => :form } do |f| -%>
        <input name="b" type="hidden" value="n" />
        <button class="button" type="submit">
            <%= image_tag("/assets/icons/cross.png", :alt => "") %> <%= t("not attending", :default => "Not Attending") %>
          </button>
      <% end -%>
  <% end %>
</div>
<br/>
<div class="block" id="block-info">
  <div class="secondary-navigation">
    <ul class="wat-cf">
        <!-- todo: implement js scroll by tag -->
      <li class="active"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">

      <p>
        <b><%= t("form.subject", :default => "Subject") %>
          :</b>
        <%= @meeting.subject %>
      </p>

      <p>
        <b><%= t("form.place", :default => "Place") %>
          :</b>
        <%= @meeting.local %>
      </p>

      <p>
        <b><%= t("form.date", :default => "Date") %>
          :</b>
        <%= @meeting.meeting_date %>
      </p>

      <p>
        <b><%= t("form.time", :default => "Time") %>
          :</b>
        <%= @meeting.meeting_time %>
      </p>

      <p>
        <b><%= t("form.duration", :default => "Duration") %>
          :</b>
        <%= @meeting.duration.strftime("%1Hh:%Mm") %>
      </p>

      <p>
        <b><%= t("form.extra_info", :default => "Extra info") %>
          :</b>
        <%= @meeting.extra_info %>
      </p>

      <p>
        <b><%= t("form.email", :default => "Admin Email") %>
          :</b>
        <%= @meeting.admin %>
      </p>

      <p>
        <b><%= t("form.proceedings", :default => "Proceedings") %>
          :</b>
        <%= @meeting.proceedings %>
      </p>
    </div>
  </div>
</div>

<div class="block" id="block-topics">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="active"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
        <% @meeting.topics.each do |topic| -%>
            <tr class="<%= cycle("odd", "even") %>">
              <td>
                <%= topic %>
              </td>
            </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<div class="block" id="block-people">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="active"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
        <% if @participations.present? %>
            <% @participations.each do |participation| %>
                <tr class="<%= cycle("odd","even") %>">
                  <td>
                    <%=participation.user.mail %>
                  </td>
                  <% if participation.is_attending == -1 %>
                     <td>The user is not attending</td>
                  <% elsif participation.is_attending == 0 %>
                     <td>The user has not answered</td>
                  <% elsif participation.is_attending == 1 %>
                    <td>The user is attending</td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>