<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta name="keywords" content="meeting scheduler, meeting scheduling, meeting, plan a meeting, meeting, organizer, scheduling, schedule, agenda, timetable, calendar, appointment, date, coordinate, poll, meet, lunch, dinner, workshop, team, weekend, event, invitation, online" />
		<meta name="description" content="coMeeting helps scheduling meetings and other appointments. coMeeting is simple, quick, free and requires no registration." />
		<meta name="application-name" content="coMeeting" />
		<meta name="author" content="coMeeting" />

		<title><%= get_title %></title>
		
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<link rel="alternate stylesheet" type="text/css" href="assets/blackTheme.css" title="blackTheme" />
		<link rel="stylesheet" type="text/css" href="assets/whiteTheme.css" title="whiteTheme" />
	</head>

	<body>
		<div id="container">
			<div id="header">
				<div id="logo">
					<a href="/"><img class="header" src="/assets/header.jpg"/></a>
				</div>
				<div id="navigation">
					<div id="title">
						coMeeting
					</div>
					<div id="themeSelection">
						<select onchange="setActiveStyleSheet(this.value); return false">
							<option value="whiteTheme">White Theme</option>
							<option value="blackTheme">Black Theme</option>
						</select>
					</div>
				</div>
			</div>
			<div id="content">
			<%= yield %>
			</div>
			<div id="footer">
				<hr />
				<div id="about-us"><a href="/about-us">About Us</a></div>
				<br />
				<div id="copyright">Copyright &#169; 2011 - Guilherme Sim&otilde;es, Jo&atilde;o Penetra, Jo&atilde;o Barbosa</div>
			</div>
		</div>
	</body>
</html>