<!DOCTYPE html>
<html>
<head>
  <title>coMeeting</title>
  <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag "application", :cache => true %>
  <%= csrf_meta_tag %>

  <script>
  // When the document is loaded...
  $(document).ready(function()
  {
      // Scroll the whole document
      $('#main').localScroll({
         target:'body'
      });

  });
  </script>

</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%= link_to "coMeeting", root_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <!--<li><a href="#"><%= t("profile", :default => "Profile") %></a></li>
          <li><a href="#"><%= t("settings", :default => "Settings") %></a></li>
          <li><a href="/logout" class="logout"><%= t("logout", :default => "Logout") %></a></li>-->
		  <li class="drop_menu"><%= image_tag("/assets/icons/globe.png", :alt => "") %>
			  <ul class="drop_item">
				<li><%= link_to "English", url_for( :locale => "en" ) %></li>
				<li><%= link_to "Portuguese", url_for( :locale => "pt" ) %></li>
			  </ul>
		  </li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <li class="first"><%= link_to t("about_us", :default => "About Us"), static_path('about-us') %></li>
        </ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; 2011 coMeeting</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
