<div class="space outer_center">
	<div class="buttons wat-cf">
		<%= link_to t("home.button", :default => "New Meeting"), new_meeting_path, :class => "big_button" %>
	</div>
</div>
	<!--<p>
	  <h3>1. <%= t("home.content.sentence1", :default => "Pick the subject, date, time and place of the meeting.") %></h3>
	  <h3>2. <%= t("home.content.sentence2", :default => "Type the topics you want to talk about and the emails of the people you want to invite.") %></h3>
	  <h3>3. <%= t("home.content.sentence3", :default => "If you confirm your email, your contacts will be saved for future meetings!") %></h3>
	  <br />
	  </p>-->
<div class="block" id="first">
  <div class="content">
    <div class="inner static">
	  <img src="/assets/home.jpg" alt=""/>
	  <h1><%= t("home.content.sentence4", :default => "It's Easy, it's Free and it just Works.") %></h1>
	  <br />
	  <h1><%= t("home.content.sentence5", :default => "Try it out!") %></h1>
    </div>
  </div>
</div>
