<div class="space outer_center">
	<div class="buttons wat-cf">
		<%= link_to t("home.button", :default => "New Meeting"), new_meeting_path, :class => "big_button" %>
	</div>
</div>

<div class="block" id="first">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	  <li class="active"><a href="#first"><%= t("home.header", :default => "Setting it up") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
	  <p>
	  <h1><%= t("home.content.sentence1", :default => "Simply fill out the form presented.") %></h1>
	  <h1><%= t("home.content.sentence2", :default => "Pick the subject, date, time and place of the meeting.") %></h1>
	  <h1><%= t("home.content.sentence3", :default => "Pick the subject, date, time and place of the meeting.") %></h1>
	  </p>
    </div>
  </div>
</div>
