  <div class="group">
    <%= f.label :subject, t("form.subject", :default => "Subject"), :class => :label %>
    <%= f.text_field :subject, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :local, t("form.place", :default => "Place"), :class => :label %>
    <%= f.text_field :local, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :meeting_date, t("form.date", :default => "Date"), :class => :label %>
    <input class="date_picker" id="meeting_date" name="meeting[meeting_date]" type="text" value="<%=@meeting.meeting_date %>"/>
      <p id="date"></p>
        <script>
        $('#meeting_date').keyup(function() {
            $('#date').DatePickerSetDate($('#meeting_date').val(), true);
        });

      </script>
  </div>

  <div class="group">
    <%= f.label :meeting_time, t("form.time", :default => "Time"), :class => :label %>
    <%= f.time_select :meeting_time, :minute_step => 15, :class => 'text_field' %>
    <%= f.time_zone_select :timezone, nil, :default => "Lisbon" %>
  </div>

  <div class="group">
    <%= f.label :duration, t("form.duration", :default => "Duration"), :class => :label %>
    <%= f.time_select :duration, :minute_step => 15,:default => Time.now.change(:hour => 0), :class => 'text_field' %>
  </div>

  <div class="group">
		<div id="topicsDiv">
            <%= f.label :topics, t("topics", :default => "Topics"), :class => :label %>
			<% n = @meeting.topics.size-1 %>
            <% num = 0 %>
            <% @meeting.topics.each do |topic| -%>
                <% name_id = "topic#{num}" %>
                <div id=<%=name_id %>>
					<%= f.text_field :topics, :class => "shorter text_field", :name => "meeting[topics][]", :value => topic %>  <a href="#" tabindex="-1" onclick="removeTopic(<%= name_id %>);return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
					<% if num != n %>
						<p></p>
					<% end %>
                </div>
                <% num = num + 1 %>
            <% end -%>
		</div>
		<a href="#" onclick="addTopic();return false">+</a>
		<input type="hidden" id="newTopicNumber" value="<%=num%>" />
    <span class="description"><%= t("form.add_topic", :default => "Add a new Topic")%></span>
  </div>

  <div class="group">
    <%= f.label :extra_info, t("form.extra_info", :default => "Extra info"), :class => :label %>
    <%= f.text_field :extra_info, :class => 'text_field' %>
  </div>

	<div class="group navform wat-cf">
	  <button class="button" type="submit">
		<%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("save", :default => "Save Changes") %>
	  </button>
	  <span class="text_button_padding"><%= t("or", :default => "or") %></span>
		<%= link_to t("cancel", :default => "Cancel"), meeting_path(@meeting.link_admin), :class => "text_button_padding link_button" %>
	</div>