  <div class="group">
    <%= f.label :subject, t("form.subject", :default => "Subject"), :class => :label %>
    <%= f.text_field :subject, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :local, t("form.place", :default => "Place"), :class => :label %>
    <%= f.text_field :local, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :meeting_date, t("form.date", :default => "Date"), :class => :label %>
    <input class="date_picker" id="meeting_date" name="meeting[meeting_date]" type="hidden" value="<%=@meeting.meeting_date %>"/>
    <span id="date"></span>
  </div>

  <div class="group">
    <%= f.label :meeting_time, t("form.time", :default => "Time"), :class => :label %>
    <%= f.time_select :meeting_time, :minute_step => 15, :class => 'text_field' %>
    <%= f.time_zone_select :timezone, nil, :default => "Lisbon" %>
  </div>

  <div class="group">
    <%= f.label :duration, t("form.duration", :default => "Duration"), :class => :label %>
    <%= f.time_select :duration, :minute_step => 15,:default => Time.now.change(:hour => 0), :class => 'text_field' %>
  </div>

  <div class="group">
		<div id="topicsDiv">
            <%= f.label :topics, t("topics", :default => "Topics"), :class => :label %>
			<% if @meeting.topics.size > 0
				num = 0 %>
				<% @meeting.topics.each do |topic| -%>
					<% name_id = "topic#{num}" %>
					<div id=<%=name_id %>>
						<%= f.text_field :topics, :class => "shorter text_field", :name => "meeting[topics][]", :value => topic %>  <a href="#" tabindex="-1" onclick="removeTopic(<%= name_id %>);return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
					</div>
					<% num = num + 1 %>
				<% end -%>
			<% else %>
				<div id="topic0">
					<%= f.text_field :topics, :class => "shorter text_field", :name => "meeting[topics][]", :value => "" %>  <a href="#" tabindex="-1" onclick="removeTopic('topic0');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
				</div>
				<% num = 1 %>
			<% end %>
		</div>
		<a href="#" onclick="addTopic();return false">+</a>
		<input type="hidden" id="newTopicNumber" value="<%=num%>" />
    <span class="description"><%= t("form.add_topic", :default => "Add a new Topic")%></span>
  </div>
  
  <div class="group">
		<input type="hidden" id="admin_email" value="<%=@meeting.admin %>"/>
		<div id="participantsDiv">
            <%= f.label :participants, t("participants", :default => "Participants"), :class => :label %>
			<% if @participations.present? 
				num = 0 %>
				<% @participations.each do |participation| -%>
					<% name_id = "participant#{num}" %>
					<div id=<%=name_id %>>
						<% if @meeting.admin.empty? %>
							olaaaaaaaaa
							<%= f.text_field :participants, :class => "shorter text_field", :name => "participations[]", :value => participation.user.mail %>  <a href="#" tabindex="-1" onclick="removeParticipant('<%= name_id %>');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
						<% else %>
							<%= f.text_field :participants, :onclick => "getCircles(); return false;" , :autocomplete => "off" ,:class => "auto_search_complete shorter text_field", :name => "participations[]", :value => participation.user.mail %>  <a href="#" tabindex="-1" onclick="removeParticipant('<%= name_id %>');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
						<% end %>
					</div>
					<% num = num + 1%>
				<% end -%>
			<% else %>
				<div id="participant0">
					<% if @meeting.admin.empty? %>
						<%= f.text_field :participants, :class => "shorter text_field", :name => "participations[]", :value => "" %>  <a href="#" tabindex="-1" onclick="removeParticipant('participant0');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
					<% else %>
						<%= f.text_field :participants, :onclick => "getCircles(); return false;" , :autocomplete => "off" ,:class => "auto_search_complete shorter text_field", :name => "participations[]", :value => "" %>  <a href="#" tabindex="-1" onclick="removeParticipant('participant0');return false;"> <img valign="top" alt="" src="/assets/icons/cross.png"> </a>
					<% end %>
				</div>
				<% num = 1 %>
			<% end %>
		</div>
		<a href="#" onclick="addParticipant();return false;">+</a>
		<input type="hidden" id="newParticipantNumber" value="<%=num%>" />
    <span class="description"><%=t("form.add_participant", :default => "Add a new Participant")%></span>
  </div>	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all">
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>-->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript"></script>
	
  <div class="group">
    <%= f.label :extra_info, t("form.extra_info", :default => "Extra info"), :class => :label %>
    <%= f.text_field :extra_info, :class => 'text_field' %>
  </div>

  <div class="group navform wat-cf">
	<button class="button" type="submit">
	  <%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("save", :default => "Save Changes") %>
	</button>
	<span class="text_button_padding"><%= t("or", :default => "or") %></span>
	<%= link_to t("cancel", :default => "Cancel"), meeting_path(@meeting.link_admin), :class => "text_button_padding link_button" %>
  </div>