<%= form_for(@meeting) do |f| %>
    <% if @meeting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

          <ul>
            <% @meeting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :subject %>
      <br/>
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <br/>
      <%= f.text_field :date %>
    </div>
    <div class="field">
      <%= f.label :duration %>
      <br/>
      <%= f.text_field :duration %>
    </div>
    <div class="field">
      <%= f.label :local %>
      <br/>
      <%= f.text_field :local %>
    </div>
    <div class="field">
      <input type="hidden" value="0" id="theValue" />
      <div id="myDiv">
      <%= f.label :topics %>
      <br/>
        <div id="my0Div">
            <input type="text" size="30" id="field0 " />  <a href="#" onclick="removeElement(my0Div)"> - </a>
        </div>
      </div>
      <a href="#" onclick="addElement();">+</a>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>