<%= form_for(@meeting) do |f| %>
        <% if @meeting.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

              <ul>
                <% @meeting.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

    <div class="field" >
      <%= f.label :subject %>
      <br/>
      <%= f.text_field :subject %>
    </div>
    <div class="field">
      <%= f.label :meeting_date %>
      <br/>
      <input id="meeting_date" name="meeting[meeting_date]" type="text" size="30" value="<%=@current_date %>"/>
      <p id="date"></p>
        <script>
        $('#meeting_date').keyup(function() {
            $('#date').DatePickerSetDate($('#meeting_date').val(), true);
        });

      </script>
    </div>
    <div class="field">
      <%= f.label :duration %>
      <br/>
      <!--<%=select_tag "textTag",options_for_select(%w{ undefined 30m 1h 1h30m 2h 2h30m 3h 3h30m 4h 4h30m 5h }) %>-->
      <%= f.text_field :duration %>
    </div>
    <div class="field">
      <%= f.label :local %>
      <br/>
      <%= f.text_field :local %>
    </div>
	<div class="field">
		<input type="hidden" value="0" id="theValue" />
		<div id="myDiv">
			<%= f.label :topics %>
			<br/>
			<div id="my0Div">
				<%=f.text_field :topics %>  <a href="#" onclick=" return removeElement(my0Div);"> - </a><p></p>
			</div>
		</div>
		<a href="#" onclick="return addElement();">+</a>
    </div>
    <div class="field">
        <%= f.label :Extra_Information %>
        <br/>
        <%= f.text_field :extra_info %>
    </div>
	<div class="field">
        <%= f.label :Email %>
        <br/>
        <%= f.email_field :admin %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>