<div class="outer_center">
<div class="buttons wat-cf">

    <% if @admin %>

        <%= link_to image_tag("/assets/icons/application_edit.png", :alt => "")+ " " + t("meeting.edit", :default=> "Edit"), edit_meeting_path(@meeting.link_admin),
                                                                                                            :class => "button" %>
        <%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("meeting.delete", :default => "Delete"), meeting_path(@meeting.link_admin),
                                                                                        :confirm => t('confirm', :default => 'Are you sure?'),
                                                                                        :method => :delete,
                                                                                        :class => "button" %>
    <% else %>                                                                   
		<% if@meeting.admin.empty? %>
			<p><%= t("meeting.warning") %></p>
		<% end %>
		
		<% if @participation.is_attending == 1 %>
			<p>You are attending this meeting</p>
		<% elsif @participation.is_attending == -1 %>
			<p>You are not attending this meeting</p>
		<% end %>
		<% if @participation.is_attending == 0 || @participation.is_attending == -1 %>
			<%= form_for @participation, :url => participation_path(@participation.token), :html => { :class => :form } do |f| -%>
				<input name="b" type="hidden" value="y" />
				<button class="button" type="submit">
					<%= image_tag("/assets/icons/tick.png", :alt => "") %> <%= t("attending.confirm", :default => "Attending") %>
				</button>
			<% end -%>
		<% end %>
		<% if @participation.is_attending == 1 || @participation.is_attending == 0 %>
			<%= form_for @participation, :url => participation_path(@participation.token), :html => { :class => :form } do |f| -%>
				<input name="b" type="hidden" value="n" />
				<button class="button" type="submit">
					<%= image_tag("/assets/icons/cross.png", :alt => "") %> <%= t("attending.decline", :default => "Not Attending") %>
				</button>
			<% end -%>
		<% end %>
	<% end %>
</div>
</div>

<div class="block" id="block-info">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p>
        <b><%= t("form.email.label", :default => "Admin Email") %>
          :</b>
        <%= @meeting.admin %>
      </p>
	
      <p>
        <b><%= t("form.subject", :default => "Subject") %>
          :</b>
        <%= @meeting.subject %>
      </p>

      <p>
        <b><%= t("form.place", :default => "Place") %>
          :</b>
        <%= @meeting.local %>
      </p>

      <p>
        <b><%= t("form.date", :default => "Date") %>
          :</b>
        <%= @meeting.meeting_date %>
      </p>

      <p>
        <b><%= t("form.time", :default => "Time") %>
          :</b>
        <%= @meeting.meeting_time %>
      </p>

      <p>
        <b><%= t("form.duration", :default => "Duration") %>
          :</b>
        <%= @meeting.duration.strftime("%1Hh:%Mm") %>
      </p>
	
      <% unless @meeting.extra_info.blank? %>
			<b><%= t("form.extra_info", :default => "Extra info") %>
			  :</b>
			<%= @meeting.extra_info %>
	  <% end %>
    </div>
  </div>
</div>

<div class="block" id="block-topics">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="active"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
        <% @meeting.topics.each do |topic| -%>
            <tr class="<%= cycle("odd", "even") %>">
              <td>
                <%= topic %>
              </td>
            </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<div class="block" id="block-participants">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="active"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
		<input type="hidden" id="token" value="<%=@meeting.link_admin%>">
		<table class="centered table">
		
			<% if @admin %>
			
				<tr>
					<td width='45%'><%= t("email", :default => "Email") %></td>
					<td width='25%'><%= t("status", :default => "Status") %></td>
					<td width='15%'><%= t("assign_action_item", :default => "Assign Action Item") %></td>
					<td width='15%'><%= t("send_email", :default => "Send Email") %></td>
				</tr>
				<% if @participations.present? 
					num = 0 %>
					<% @participations.each do |participation| %>
						<% rowClass = cycle("even", "odd") %>
						
						<tr class="<%=rowClass%>">
						  <td class="leftered" width='45%'><%=participation.user.mail %></td>
						  
						  <% if participation.is_attending == -1 %>
							 <td width='25%'><%= t("attending.declined", :default => "This person is not attending") %></td>
							 <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>'); return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes", :default => "Add action item to minutes")%>" /></a></td>
							 <td width='15%'></td>
						  <% elsif participation.is_attending == 0 %>
							 <td width='25%'><%= t("attending.unknown", :default => "This person has yet to answer") %></td>
							 <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes", :default => "Add action item to minutes")%>" /></a></td>
							 <td width='15%'>
								<input type='hidden' name='meeting_id' value='<%= @meeting.link_admin%>' />
								<input type='hidden' name='person' value='<%= participation.user.mail %>' />
								<a id="email_image_<%= participation.id %>"href='#' onclick="sendEmail(<%= participation.id %>); return false;"><img src="/assets/icons/email.png"/></a>
							 </td>
						  <% elsif participation.is_attending == 1 %>
							<td width='25%'><%= t("attending.confirmed", :default => "This person is attending") %></td>
							<td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" alt="<%= t("alt.add_minutes", :default => "Add action item to minutes")%>" /></a></td>
							<td width='15%'></td>
						  <% end %>
						</tr>
						
						<tr id='participant_<%=num %>' class="hidden <%=rowClass%>">
							<td class="leftered" width='45%'><%= t("action", :default => "Action") %>: <input id='item' class="styled" type='text' maxlength='200' value='<%=participation.action_item%>' /></td>
							<td width='25%'><%= t("date", :default => "Date") %>: <input id='date' class="styled", type='text' maxlength='10' value='<%=participation.deadline%>'></td>
							<td class="centered" width='15%'><a href='#' onclick="addActionItem('participant_<%=num%>',<%=participation.id%>,'<%=participation.user.mail%>');updateMinutes('<%=@meeting.link_admin%>');return false;"><img src="/assets/icons/pencil.png" /></a></td>
							<td width='15%'></td>
						</tr>
						
						<% num = num + 1 %>
					<% end %>
				<% end %>
				
			<% else %>
			
				<tr>
					<td width='65%'><%= t("email", :default => "Email") %></td>
					<td width='35%'><%= t("status", :default => "Status") %></td>
				</tr>
				<% if @participations.present? 
					num = 0 %>
					<% @participations.each do |participation| %>
						<% rowClass = cycle("even", "odd") %>
					
						<tr class="<%=rowClass%>">
							<td class="leftered" width='65%'><%=participation.user.mail %></td>
							<% if participation.is_attending == -1 %>
								<td width='35%'><%= t("attending.declined", :default => "This person is not attending") %></td>
							<% elsif participation.is_attending == 0 %>
								<td width='35%'><%= t("attending.unknown", :default => "This person has yet to answer") %></td>
							<% elsif participation.is_attending == 1 %>
								<td width='35%'><%= t("attending.confirmed", :default => "This person is attending") %></td>
							<% end %>
						</tr>
						<% num = num + 1 %>
					<% end %>
				<% end %>
			<% end %>
		</table>
    </div>
  </div>
</div>

<% if @admin || @participation.is_attending != 0 %>
<div class="block" id="block-act">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="active"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner" id="partialstatic_minutes">
		<%= render :partial => 'static_minutes' %>
	</div>
	<div class="inner" id="partialminutes">
		<%= render :partial => 'minutes' %>
    </div>
  </div>
</div>

<div class="outer_center">
<div class="buttons wat-cf">
	<%= link_to image_tag("/assets/icons/application_edit.png", :alt => "")+ " " + t("meeting.pdf", :default=> "Download as PDF"), download_path(:id => @meeting.link_admin), :class => "button" %>
</div>
</div>
<% end %>

<script>
	<% if false %>
		<% if @admin %>
			setInterval("updateMinutes('<%=@meeting.link_admin%>')", 5000);
		<% else %>
			setInterval("getMinutes('<%=@meeting.link_admin%>')", 5000);
		<% end %>
	<% end %>
	
	$('textarea#minutes').autoResize({
		maxHeight: 1000,
		minHeight: 50
	});
</script>