<!-- todo: not sure if we should put this piece of code here -->
<script>

// When the document is loaded...
$(document).ready(function()
{
    // Scroll the whole document
    $('#main').localScroll({
       target:'body'
    });
});
</script>

<div class="block" id="block-info">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p>
        <b><%= t("form.email.label", :default => "Admin Email") %>
          :</b>
        <%= @meeting.admin %>
      </p>
	
      <p>
        <b><%= t("form.subject", :default => "Subject") %>
          :</b>
        <%= @meeting.subject %>
      </p>

      <p>
        <b><%= t("form.place", :default => "Place") %>
          :</b>
        <%= @meeting.local %>
      </p>

      <p>
        <b><%= t("form.date", :default => "Date") %>
          :</b>
        <%= @meeting.meeting_date %>
      </p>

      <p>
        <b><%= t("form.time", :default => "Time") %>
          :</b>
        <%= @meeting.meeting_time %>
      </p>

      <p>
        <b><%= t("form.duration", :default => "Duration") %>
          :</b>
        <%= @meeting.duration.strftime("%1Hh:%Mm") %>
      </p>
	
      <% unless @meeting.extra_info.blank? %>
		  <p>
			<b><%= t("form.extra_info", :default => "Extra info") %>
			  :</b>
			<%= @meeting.extra_info %>
		  </p>
	  <% end %>

      <p>
        <b><%= t("form.proceedings", :default => "Proceedings") %>
          :</b>
        <%= @meeting.proceedings %>
      </p>

      <div class="wat-cf">
        <%= link_to image_tag("/assets/icons/application_edit.png", :alt => "")+ " " + t("meeting.edit", :default=> "Edit"), edit_meeting_path(@meeting.link_admin),
																											:class => "button" %>
		<%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("meeting.delete", :default => "Delete"), {
																							:controller => :meetings,
																							:action => :destroy,
																							:id => @meeting.link_admin
																						}, {
																							:onclick => "return confirm('"+t('confirm', :default => 'Are you sure?')+"')",
																							:class => "button"
																						} %>
      </div>
    </div>
  </div>
</div>

<div class="block" id="block-topics">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="active"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
        <% @meeting.topics.each do |topic| -%>
            <tr class="<%= cycle("odd", "even") %>">
              <td>
                <%= topic %>
              </td>
              <td class="last">
                <%= link_to "#{t("edit", :default => "Edit")}", '/' %> |
                <%= link_to "#{t("delete", :default => "Delete")}", '/' %> |
              </td>
            </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<div class="block" id="block-participants">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="active"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="first"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <input type="hidden" id="token" value="<%=@meeting.link_admin%>">
      <table class="centered table">
			<tr>
				<td width='45%'><%= t("email", :default => "Email") %></td>
				<td width='25%'><%= t("status", :default => "Status") %></td>
				<td width='15%'><%= t("assign_action_item", :default => "Assign Action Item") %></td>
				<td width='15%'><%= t("send_email", :default => "Send Email") %></td>
			</tr>
        <% if @participations.present? 
        	num = 0 %>
            <% @participations.each do |participation| %>
				<% rowClass = cycle("even", "odd") %>
                <tr class="<%=rowClass%>">
                  <td class="leftered" width='45%'><%=participation.user.mail %></td>
				  
                  <% if participation.is_attending == -1 %>
                     <td width='40%'><%= t("attending.no", :default => "This person is not attending") %></td>
					 <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>'); return false;"><img src="/assets/icons/script.png" /></a></td>
                  <% elsif participation.is_attending == 0 %>
                     <td width='25%'><%= t("attending.maybe", :default => "This person has yet to answer") %></td>
					 <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" /></a></td>
                     <td width='15%'>
                         <%= form_for :participation, :url => participations_path do |f| -%>
                           <input type='hidden' name='meeting_id' value='<%= @meeting.link_admin%>' />
                           <input type='hidden' name='person' value='<%= participation.user.mail %>' />
                           <%= image_submit_tag("/assets/icons/email.png") %>
                         <% end -%>
                     </td>
                  <% elsif participation.is_attending == 1 %>
                    <td width='40%'><%= t("attending.yes", :default => "This person is attending") %></td>
                    <td width='15%'><a href="#" onclick="showAction('participant_<%=num%>');return false;"><img src="/assets/icons/script.png" /></a></td>
                  <% end %>
                  
                </tr>
                <tr id='participant_<%=num %>' class="hidden <%=rowClass%>">
                	<td class="leftered" width='45%'><%= t("action", :default => "Action") %>: <input id='item' class="styled" type='text' maxlength='200'/></td>
                	<td width='25%'><%= t("date", :default => "Date") %>: <input id='date' class="styled", type='text' maxlength='10'></td>
                	<td class="centered" width='15%'><a href='#' onclick="addActionItem('participant_<%=num%>',<%=participation.id%>,'<%=participation.user.mail%>'); return false;"><img src="/assets/icons/pencil.png" /></a></td>
					<td width='15%'></td>
                </tr>
                <% num = num + 1 %>
            <% end %>
        <% end %>
      </table>
	  <div id="participantsDiv">

	  </div>
	  <a href="#" onclick="addPerson();return false;">+</a>
	  <input type="hidden" value="0" id="newParticipantNumber" />
	  <span class="description"><%=t("form.add_participant", :default => "Add a new Participant")%></span>
    </div>
  </div>
</div>

<div class="block" id="block-act">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-participants"><%= t("participants", :default => "Participants") %></a></li>
      <li class="active"><a href="#block-act"><%= t("minutes", :default => "Minutes") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
    <% 
    	participants = ""
    	
		@participations.each do |participation|
      		participants = participants + "- " + participation.user.mail.to_s + "\n\t"	
  	  	end
  	  	
  	  	topics = ""
  	  	
  	  	@meeting.topics.each do |topic|
      		topics = topics + "- " + topic + "\n\t"	
  	  	end
  	  	
  	  act = "\n\nSubject: "+ @meeting.subject + 
      "\nLocal: " + @meeting.local +
      "\nDate: " + @meeting.meeting_date.to_s +
      "\nHour: " + @meeting.meeting_time.to_s +
      "\nDuration: " + @meeting.duration.strftime("%1Hh:%Mm").to_s +
      "\nExtra Information: " + @meeting.extra_info +
      "\nCreated by: " + @meeting.admin +
      "\n\n\tTopics:" + 
      "\n\t" + topics +
      "\n\tParticipants:" +
      "\n\t" + participants +
      "\n\tAction Items:"
      
      #Faltam action items
    
    %>
    
      <%= text_area :minutes, nil, :id => 'minutes', :rows => 30, :value => act %>
    </div>
  </div>
 </div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>