<!-- todo: not sure if we should put this piece of code here -->
<script>

// When the document is loaded...
$(document).ready(function()
{
    // Scroll the whole document
    $('#main').localScroll({
       target:'body'
    });

});
</script>

<div class="block" id="block-info">
  <div class="secondary-navigation">
    <ul class="wat-cf">
        <!-- todo: implement js scroll by tag -->
      <li class="active"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">

      <p>
        <b><%= t("form.subject", :default => "Subject") %>
          :</b>
        <%= @meeting.subject %>
      </p>

      <p>
        <b><%= t("form.place", :default => "Place") %>
          :</b>
        <%= @meeting.local %>
      </p>

      <p>
        <b><%= t("form.date", :default => "Date") %>
          :</b>
        <%= @meeting.meeting_date %>
      </p>

      <p>
        <b><%= t("form.time", :default => "Time") %>
          :</b>
        <%= @meeting.meeting_time %>
      </p>

      <p>
        <b><%= t("form.duration", :default => "Duration") %>
          :</b>
        <%= @meeting.duration.strftime("%1Hh:%Mm") %>
      </p>

      <p>
        <b><%= t("form.extra_info", :default => "Extra info") %>
          :</b>
        <%= @meeting.extra_info %>
      </p>

      <p>
        <b><%= t("form.email", :default => "Admin Email") %>
          :</b>
        <%= @meeting.admin %>
      </p>

      <p>
        <b><%= t("form.proceedings", :default => "Proceedings") %>
          :</b>
        <%= @meeting.proceedings %>
      </p>

      <div class="wat-cf">
        <%= link_to image_tag("/assets/icons/application_edit.png", :alt => "")+ " " + t("edit", :default=> "Edit"), edit_meeting_path(@meeting.link_admin),
																											:class => "button" %>

		<!--
		<%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("delete", :default => "Delete"), meeting_path(@meeting.link_admin),
																											:method => :delete,
																											:confirm => "#{t("confirm", :default => "Are you sure?")}", :class => "button" %>
		-->
		<%= link_to image_tag("/assets/icons/cross.png", :alt => "") + " " + t("delete", :default => "Delete"), {
																							:controller => :meetings,
																							:action => :destroy,
																							:id => @meeting.link_admin
																						}, {
																							:onclick => "return confirm('"+t('confirm', :default => 'Are you sure?')+"')",
																							:class => "button"
																						} %>
      </div>
    </div>
  </div>
</div>

<div class="block" id="block-topics">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="active"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="first"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
		<!-- What the hell is this for?
        <tr>
          <th class="first">Topic</th>

          <th class="last">&nbsp;</th>
        </tr>-->
        <% @meeting.topics.each do |topic| -%>
            <tr class="<%= cycle("odd", "even") %>">
              <td>
                <%= topic %>
              </td>
              <td class="last">
                <%= link_to "#{t("edit", :default => "Edit")}", '/' %> |
                <%= link_to "#{t("delete", :default => "Delete")}", '/' %> |
              </td>
            </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<div class="block" id="block-people">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-info"><%= t("info", :default => "Info") %></a></li>
      <li class="first"><a href="#block-topics"><%= t("topics", :default => "Topics") %></a></li>
      <li class="active"><a href="#block-people"><%= t("people", :default => "People") %></a></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <table class="table">
        <% if @participations.present? %>
            <% @participations.each do |participation| %>
                <tr class="<%= cycle("odd","even") %>">
                  <td>
                    <%=participation.user.mail %>
                  </td>
                  <% if participation.is_attending == -1 %>
                     <p>The user is not attending</p>
                  <% elsif participation.is_attending == 0 %>
                     <td>The user has not answered</td>
                     <td class="last">
                         <%= form_for :participation, :url => participations_path, :html => { :class => :form } do |f| -%>
                           <input type='hidden' name='meeting_id' value='<%= @meeting.link_admin%>' />
                           <input type='hidden' name='person' value='<%= participation.user.mail %>' />
                           <%= image_submit_tag("/assets/icons/email_go.png", :class => "putas") %>
                         <% end -%>
                     </td>
                  <% elsif participation.is_attending == 1 %>
                    <p>The user is attending</p>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
      </table>
      <input type="hidden" value="0" id="theValue" />
		<div id="myDiv">

		</div>
		<a href="#" onclick="addPerson(); return false;">+</a>
    <span class="description">Add a new Person</span>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>